Repository tmcshea/Exiled-Exchange-2-info: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, lint-fix-main, lint-fix-renderer, format-main, format-renderer, type-check-main, type-check-renderer

check-version-consistency:
  name: Check Version Consistency
  entry: python ./versionCheck.py
  language: python

lint-fix-main:
  name: Lint Fix Main Project
  entry: npm run fix --prefix ./main
  language: system
  pass_filenames: false

lint-fix-renderer:
  name: Lint Fix Renderer Project
  entry: npm run lint-fix --prefix ./renderer
  language: system
  pass_filenames: false

format-main:
  name: Format Main Project
  entry: npm run format --prefix ./main
  language: system
  pass_filenames: false

format-renderer:
  name: Format Renderer Project
  entry: npm run format --prefix ./renderer
  language: system
  pass_filenames: false

type-check-main:
  name: Type Check Main Project
  entry: npm run check-types --prefix ./main
  language: system
  pass_filenames: false

type-check-renderer:
  name: Type Check Renderer Project
  entry: npm run check-types --prefix ./renderer
  language: system
  pass_filenames: false

update pl image
  docs/reference-images/private-league-setting.png
Due: none

Add code for AI integration
  AI_INTEGRATION.md
  renderer/src/web/Config.ts
  renderer/src/web/background/AIService.ts
  renderer/src/web/price-check/CheckedItem.vue
  renderer/src/web/price-check/ai-insights/AIPriceInsights.vue
  renderer/src/web/settings/SettingsWindow.vue
  renderer/src/web/settings/ai-assistant.vue
Due: check-version-consistency, lint-fix-renderer, format-renderer, type-check-renderer

Fixes to build
  main/package-lock.json
  main/src/host-files/GameConfig.ts
  main/src/host-files/file-uploads.ts
  renderer/package-lock.json
  renderer/specs/vitest.setup.ts
  renderer/src/web/background/AIService.ts
Due: check-version-consistency, lint-fix-main, lint-fix-renderer, format-main, format-renderer, type-check-main, type-check-renderer

Fix pr test
  renderer/package-lock.json
Due: check-version-consistency, format-renderer, type-check-renderer

Fix test errors
  .gitignore
  main/package-lock.json
  main/package.json
  main/src/host-files/file-uploads.ts
  renderer/package-lock.json
  renderer/src/web/background/AIService.ts
  renderer/src/web/price-check/ai-insights/AIPriceInsights.vue
  renderer/src/web/settings/ai-assistant.vue
Due: check-version-consistency, lint-fix-main, lint-fix-renderer, format-main, format-renderer, type-check-main, type-check-renderer

Fix test errors
  .gitignore
Due: none

Path conditions:
  check-version-consistency: any of: \.(js|md|yml|json)$
  lint-fix-main: any of: ^main/.*\.(ts|js|jsx|tsx)$
  lint-fix-renderer: any of: ^renderer/.*\.(ts|js|jsx|tsx|vue)$
  format-main: any of: ^main/.*\.(ts|js|jsx|tsx|vue|json|md)$
  format-renderer: any of: ^renderer/.*\.(ts|js|jsx|tsx|vue|json|md)$
  type-check-main: any of: ^main/.*\.(ts|js|jsx|tsx|vue|json|md)$
  type-check-renderer: any of: ^renderer/.*\.(ts|js|jsx|tsx|vue|json|md)$
